header {
    text-align: left;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #B5FFB3;
    text-align: center;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.knapp{
    background-color: #88BF86;
    border: 2pt solid #2D402D;
    color: #2D402D;
    transition: 300ms;
    text-decoration: none;
    border-radius: 1rem;
    display: block;
    width: 100pt;
    margin: auto;
    text-align: center;
}
.knapp:hover{
    background-color: #5B8059;
    padding-left: 10pt;
    padding-right: 10pt;
}
